<h2>2.3</h2>

<input type="radio" name="check" (click)="click(true)">
<label for="radio1">check</label>
<br/>
<input type="radio" name="check" (click)="click(false)">
<label for="radio2">uncheck</label>
<br/>

<input type="checkbox" [checked]="isChecked">

<!-- Why is the radio button not working properly here?
<br/><br/>
<input type="radio" name="test" (click)="valueForTesting=true">
<label for="radio1">check</label>
<br/>
<input type="radio" name="test" (click)="valueForTesting=false">
<label for="radio2">uncheck</label>
<br/>
<input type="checkbox" [checked]="valueForTesting">
-->