<h1>My App</h1>

<hr/>

<app-tv-main></app-tv-main>

<!-- 
<app-ex10-main></app-ex10-main>
<app-ex9-user></app-ex9-user>
<app-users-main-page></app-users-main-page>
<app-ex8q1main></app-ex8q1main>
<app-ex8q2main></app-ex8q2main>
<app-main-page></app-main-page>
<app-ex6q3main></app-ex6q3main>
<app-ex7q3></app-ex7q3>
<app-ex6q1></app-ex6q1>
<app-people44></app-people44>
<app-ex5q2></app-ex5q2>
<app-parent42></app-parent42>
<app-parent41></app-parent41>
<app-ex3q3></app-ex3q3>
<app-ex3q2></app-ex3q2>
<app-ex3q1></app-ex3q1>
<app-ex2q3></app-ex2q3>
<app-length-sensitive-boxes></app-length-sensitive-boxes>
<app-person-comp></app-person-comp> -->